flask
flask-cors
python-dotenv
streamlit==1.27.0
PyMuPDF==1.18.17
spacy>=3.0.0,<4.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
